---
http_interactions:
- request:
    method: post
    uri: https://inspector2.us-east-1.amazonaws.com/findings/list
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20230314T180912Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY>/20230314/us-east-1/inspector2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ba2f2dedf1738a7e5a626c7c2009026edf592a5be903706f9a5cf52c428a0916
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e8f3a362-bf4f-4d29-adc7-cef0a02d7252
      X-Amz-Apigw-Id:
      - ByG7gFtDoAMF4mQ=
    body:
      encoding: UTF-8
      string: '{"findings":[{"awsAccountId":"612899039241","description":"Heap-based
        Buffer Overflow in GitHub repository vim/vim prior to 9.0.0742.","exploitAvailable":"NO","findingArn":"arn:aws:inspector2:us-east-1:612899039241:finding/01b10e26b93d6fb099b25dd674c0cc93","firstObservedAt":1.678220584098E9,"fixAvailable":"YES","inspectorScore":7.8,"inspectorScoreDetails":{"adjustedCvss":{"adjustments":[],"cvssSource":"NVD","score":7.8,"scoreSource":"NVD","scoringVector":"CVSS:3.1/AV:L/AC:L/PR:N/UI:R/S:U/C:H/I:H/A:H","version":"3.1"}},"lastObservedAt":1.678220584098E9,"packageVulnerabilityDetails":{"cvss":[{"baseScore":7.8,"scoringVector":"CVSS:3.1/AV:L/AC:L/PR:N/UI:R/S:U/C:H/I:H/A:H","source":"NVD","version":"3.1"}],"referenceUrls":[],"relatedVulnerabilities":[],"source":"NVD","sourceUrl":"https://nvd.nist.gov/vuln/detail/CVE-2022-3491","vendorCreatedAt":1.6700733E9,"vendorSeverity":"HIGH","vendorUpdatedAt":1.67275836E9,"vulnerabilityId":"CVE-2022-3491","vulnerablePackages":[{"arch":"NOARCH","epoch":2,"fixedInVersion":"2:9.0.1314-1.amzn2.0.1","name":"vim-filesystem","packageManager":"OS","release":"1.amzn2.0.1","remediation":"yum
        update vim-filesystem","version":"9.0.1160"},{"arch":"X86_64","epoch":2,"fixedInVersion":"2:9.0.1314-1.amzn2.0.1","name":"vim-common","packageManager":"OS","release":"1.amzn2.0.1","remediation":"yum
        update vim-common","version":"9.0.1160"},{"arch":"NOARCH","epoch":2,"fixedInVersion":"2:9.0.1314-1.amzn2.0.1","name":"vim-data","packageManager":"OS","release":"1.amzn2.0.1","remediation":"yum
        update vim-data","version":"9.0.1160"},{"arch":"X86_64","epoch":2,"fixedInVersion":"2:9.0.1314-1.amzn2.0.1","name":"vim-minimal","packageManager":"OS","release":"1.amzn2.0.1","remediation":"yum
        update vim-minimal","version":"9.0.1160"},{"arch":"X86_64","epoch":2,"fixedInVersion":"2:9.0.1314-1.amzn2.0.1","name":"vim-enhanced","packageManager":"OS","release":"1.amzn2.0.1","remediation":"yum
        update vim-enhanced","version":"9.0.1160"}]},"remediation":{"recommendation":{"text":"None
        Provided"}},"resources":[{"details":{"awsEc2Instance":{"iamInstanceProfileArn":"arn:aws:iam::612899039241:instance-profile/AmazonSSMRoleForInstancesQuickSetup","imageId":"ami-006dcf34c09e50022","ipV4Addresses":["54.172.107.94","172.31.2.153"],"ipV6Addresses":[],"keyName":"venkatatenable","launchedAt":1.678113527E9,"platform":"AMAZON_LINUX_2","subnetId":"subnet-f045f786","type":"t2.micro","vpcId":"vpc-717c3215"}},"id":"i-09f8489a200cc2a76","partition":"aws","region":"us-east-1","tags":{"Name":"Crowdstrike-amzn"},"type":"AWS_EC2_INSTANCE"}],"severity":"HIGH","status":"ACTIVE","title":"CVE-2022-3491
        - vim-filesystem, vim-common and 3 more","type":"PACKAGE_VULNERABILITY","updatedAt":1.678220584098E9},{"awsAccountId":"612899039241","description":"Vulnerability
        in the Oracle Java SE, Oracle GraalVM Enterprise Edition product of Oracle
        Java SE (component: Hotspot). Supported versions that are affected are Oracle
        Java SE: 7u321, 8u311, 11.0.13, 17.01; Oracle GraalVM Enterprise Edition:
        20.3.4 and 21.3.0. Easily exploitable vulnerability allows unauthenticated
        attacker with network access via multiple protocols to compromise Oracle Java
        SE, Oracle GraalVM Enterprise Edition. Successful attacks of this vulnerability
        can result in unauthorized update, insert or delete access to some of Oracle
        Java SE, Oracle GraalVM Enterprise Edition accessible data. Note: This vulnerability
        applies to Java deployments, typically in clients running sandboxed Java Web
        Start applications or sandboxed Java applets, that load and run untrusted
        code (e.g., code that comes from the internet) and rely on the Java sandbox
        for security. This vulnerability can also be exploited by using APIs in the
        specified Component, e.g., through a web service which supplies data to the
        APIs. CVS","exploitAvailable":"YES","exploitabilityDetails":{"lastKnownExploitAt":1.673851644E9},"findingArn":"arn:aws:inspector2:us-east-1:612899039241:finding/02aa08ad28dadb81a4e111d7ec692b0f","firstObservedAt":1.663412435992E9,"fixAvailable":"YES","inspectorScore":5.3,"inspectorScoreDetails":{"adjustedCvss":{"adjustments":[],"cvssSource":"NVD","score":5.3,"scoreSource":"NVD","scoringVector":"CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:L/A:N","version":"3.1"}},"lastObservedAt":1.678791639015E9,"packageVulnerabilityDetails":{"cvss":[{"baseScore":5.0,"scoringVector":"AV:N/AC:L/Au:[...]
- request:
    method: post
    uri: https://inspector2.us-east-1.amazonaws.com/findings/list
    body:
      encoding: UTF-8
      string: '{"nextToken":"AAMA-EFRSURBSGdKU3pydmtDSVBhb2Y4RU5Cb0c1aEhiWDVNelgveWNZM3RoMFdtV2prM2d3RmpBUHNrQjI3T3JINVFwaFVySnBZK0FBQUFmakI4QmdrcWhraUc5dzBCQndhZ2J6QnRBZ0VBTUdnR0NTcUdTSWIzRFFFSEFUQWVCZ2xnaGtnQlpRTUVBUzR3RVFRTWVBSjM3YmpaOUhwWlBDWHpBZ0VRZ0RzZVhGT0lhVlZPT1BLZ0MwVjc5UUhYaTlJWXFHZi9lbmhrY2VtZ05DY0pXZVUvbE94TjJVTjh5ZDNLdldPeVBRSXdmY0lzUGZtK1RoY214dz09Ns2MFjzPSZpjJJ52F6xx1FNJfL3evRn_O6mF7jju1pkmUhnPGdpeW_IZRnOyNyqJ1Z1o50qztgM99H6ugCwdUn4Li8RvKrMz4ISNmiwxbQlzQ_2wYs3Uhf53zw6xqRXwSpw2UXv08ne2B9w4GYrsK6mqqzulB_dLowv[...]
[...]
