---
http_interactions:
- request:
    method: get
    uri: https://api.snyk.io/rest/orgs/e0319d01-7a3f-442a-8e94-3613b81c705a/issues?created_after=2024-05-28T00:00:00Z&created_before=2024-06-27T00:00:00Z&limit=100&version=2024-04-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token 0xdeadbeef
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Snyk-Request-Id:
      - 2db3becb-f470-461c-a6d1-bb08218c6d10
      Akamai-Cache-Status:
      - Miss from child, Miss from parent
      Akamai-Grn:
      - 0.17acc117.1719491029.428fe48
    body:
      encoding: UTF-8
      string: '''{"jsonapi":{"version":"1.0"},"errors":[{"status":"401","details":"Unauthorized"}]}'''
  recorded_at: Thu, 27 Jun 2024 12:23:50 GMT
[...]
- request:
    method: get
    uri: https://api.snyk.io/rest/orgs/e0319d01-7a3f-442a-8e94-3613b81c705a/issues?created_after=2024-05-28T00:00:00Z&created_before=2024-06-27T00:00:00Z&limit=100&version=2024-04-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token 0xdeadbeef
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json
      Snyk-Request-Id:
      - 2ac1eb21-519c-4d63-88ec-8881ac483a00
      Akamai-Cache-Status:
      - Miss from child, Miss from parent
      Akamai-Grn:
      - 0.17acc117.1719491106.4295258
    body:
      encoding: UTF-8
      string: '''{"jsonapi":{"version":"1.0"},"errors":[{"status":"401","details":"Unauthorized"}]}'''
  recorded_at: Thu, 27 Jun 2024 12:25:06 GMT
recorded_with: VCR 6.1.0
